{% extends "base.html" %}

{% block content %}
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Profile</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h4>Add Task</h4>
            <form action="add_todo/" method="post" class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" name="content"
                       placeholder="Input your task">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
            <div class="row">
                <div class="col-10">
                    <ul class="list-group">
                        {% for item in todo_items %}
                            <li class="list-group-item py-2">
                                {{ item.text }}
                                <div class="float-right ">
                                    <form action="mark_done/{{ item.id }}" method="post">
                                        <button type="submit">
                                            <i class="material-icons">
                                                check_circle_outline
                                            </i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-4">
                <div class="col-10 ">
                    <ul class="list-group">
                        {% for item, date in done_items %}
                            <li class="list-group-item">
                                {{ item.text }}
                                {{ date }}
                                <div class="float-right">
                                    <form action="delete/{{ item.id }}" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger"
                                                style="background-color:red; border-color:red">Delete
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}